@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

@mixin flex-Sbetween {
  display: flex;
  justify-content: space-between;
}
@mixin tag-label {
  display: inline-block;
  font-size: $font-small;
  color: #fff;
  padding: 7px 6px;
}
@mixin text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

$text-gray: #aaa;
$text-red: #ff001f;
$font-small: 11px;
$font-medium: 12px;
$font-normal: 14px;
$font-large: 16px;

// 공통 스타일
* {
  font-family: "Noto Sans KR", sans-serif;
  font-size: $font-normal;
  font-weight: 400;
  box-sizing: border-box;
}
.product-main {
  max-width: 1024px;
  margin: 0 auto;
}
.inner {
  padding: 0 15px;
}

// 상단 뷰타입 헤더
.product-main-header {
  width: 100%;
  height: 50px;
  @include flex-Sbetween();
  align-items: center;
  .header__info__title__numder {
    font-weight: bold;
    letter-spacing: -1px;
    padding-left: 3px;
  }
  .header__time {
    display: inline-block;
    font-size: $font-medium;
    color: $text-gray;
    transform: translateY(-1px);
  }
  .main-header__view .view {
    display: none;
  }
  .main-header__view .view.act {
    display: block;
  }
}

// 아이템 리스트
.product-main-productList {
  .product-main-productItem {
    width: 100%;
  }
  .productItem__link.tList {
    display: flex;
  }
  .productItem__link.tList div {
    width: 50%;
  }
  .productItem__imgBox {
    position: relative;
    background-color: #f1f1f1;
  }
  .productItem__imgBox img {
    width: 100%;
    z-index: 1;
  }
  .productItem__imgBox__label {
    position: absolute;
    left: 10px;
    bottom: -10px;
    z-index: 2;
  }
  .productItem__imgBox__label.tList {
    left: 0px;
    bottom: 0px;
  }
  .label__new,
  .label__musinsa {
    @include tag-label();
  }
  .label__new {
    background-color: #ff9500;
  }
  .label__musinsa {
    background: #18a286;
  }
  .productItem__imgBox.tGrid {
    padding-bottom: 120%;
    position: relative;
  }
  .productItem__imgBox.tList {
    padding-bottom: 60%;
    position: relative;
  }
  .productItem__imgBox.tGrid img,
  .productItem__imgBox.tList img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .productItem__info {
    margin: auto 0;
  }
  .info__brand {
    font-size: $font-small;
    line-height: 30px;
    padding-top: 10px;
  }
  .info__info {
    font-size: $font-normal;
    font-weight: bold;
    padding-bottom: 7px;
    line-height: 18px;
    height: 36px;
    @include text-ellipsis();
  }
  .info__price {
    @include flex-Sbetween();
  }
  .info__price__price {
    font-weight: bold;
    font-size: $font-large;
    line-height: 20px;
    letter-spacing: -0.5px;
  }
  .info__price__price del {
    display: block;
    font-size: $font-small;
    color: $text-gray;
    font-weight: 400;
  }
  .info__price__sale {
    font-weight: bold;
    font-size: $font-large;
    color: $text-red;
  }
}
